<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Login Sign Up Page</title>
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
    <meta charset="UTF-8">

</head>
<body>
{#      {% if messages %}#}
{#          {% for message in messages %}#}
{#            <div>{{ message }}</div>#}
{#          {% endfor %}#}
{#      {% endif %}#}
<div class="main">
  <h3 id="login_error" hidden>Username or password incorrect!</h3>
  <h3 id="register_error" hidden>Username already exists or password didn't meet the requirements</h3>
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form method="POST" id="register_form" action="{% url 'register' %}">
          {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            {{ form.email }}
            {{ form.username }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit">Sign up</button>
        </form>
    </div>

    <div class="login">
        <form method="POST" id="login_form" action="{% url 'login' %}">
          {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" id="user-login" name="username" placeholder="Username" required="">
            <input type="password" id="password-login" name="password" placeholder="Password" required="">
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'script/jquery.js' %}"></script>
</html>