{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
</head>
<body>
<div style="display: flex; flex-flow: row; align-items: flex-start; justify-content: space-between;">
  <div style="display: flex; flex-flow: column; justify-content: flex-start; gap: 10px; width: 50%">
    {% for task in tasks %}
      <div style="display: flex; justify-content: space-between; border: 2px solid black; padding: 5px">
        <div><h2>{{ task }}</h2></div>
        <div><h5>Created by {{ task.task_creator }}</h5></div>
        <div>
          <button class="btn" onclick='show_details({{ task.id }})' >See details</button>
        </div>
      </div>
    {% endfor %}

  </div>
  <div id="task_detail" style="display: flex; flex-flow: column; justify-content: space-between; gap: 50px; width: 50%">

  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'script/jquery.js' %}"></script>
</html>